//entire visible area
body {
    // background: linear-gradient(105.86deg, #ffffff 80%, #cccccc 100%);
    background: rgb(11, 110, 117);

    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn linear 500ms;
    -webkit-animation: fadeIn linear 500ms;

    display: flex;
    justify-content: row;

}

//user controls
div.control-container { 
    width: 45%;
    height: 100%;
    z-index:3;

    background: linear-gradient(107.86deg, #622774 1.88%, #C53364 100%);
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
}


//control-container stuff
h1 {
    width: 100%;
    height: auto;
    z-index: 1;
    
    color: #ffffff;

    font-size: 6vw;
    animation: fadeIn linear 2;
    -webkit-animation: fadeIn linear 2s;
}

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
        
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

h3 {
    width: 100%;
    
    color: #FFFFFF;

    font-weight: bold;
    font-size: 24px;
}

p.scen {
    width: 100%;

    color: #FFFFFF;

    font-weight: light;
    font-size: 12px;
    
}

hr {
    width: 95%;
    border: 1px solid #FFFFFF;
}

#intro {
    width: 100%;
    
    font-weight: light;
    font-size: 16px;
    
    color: #FFFFFF;
}   
#description {
    width: 100%;
    
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    transition: opacity 500ms linear;
}   



#features {
    width: 100%;
    padding: 0px;    
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    // border: 1px solid blue;
    
}

ul > button:focus {
    width: 100%;
    background-color: #c696daf1;
}

p.cont {
    // position: absolute;
    width: 100%;

    font-weight: light;
    font-size: 12px;
    
    color: #FFFFFF;
}

h3.controls {
    // position: absolute;
    width: 100%;

    font-weight: bold;
    // font-size: 24px;

    color: #FFFFFF;
}

div.controls {
    #simStart{
        background-color: #15772ef1;
    }

    #simReset{
        background-color: #a51515f1;
    }
}

button {
    box-shadow: 2px 3px #888888;
    background-color: #550077f1;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    // margin: 2px 2px;
    width: 100%;
    border-radius: 8px;
}

button:active {
    background-color: #7700a7f1;
    box-shadow: 0 5px #4e4e4e;
    transform: translateY(4px);
  }

  //canvas and footer
.body-content{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;

    // infected counter 
    #tracker {
        list-style-type: none;
        height: 50px;
        // position: absolute;
        // top: 142px;
        top: 10vh;
        font-family: sans-serif;
        font-size: 12px;
        font-weight:600;
        color: #616161;

        #uninfected {
            color:gray;
        }
        #infected {
            color: firebrick;
        }
        #recovered {
            color: green;
        }
    }

    //canvas 
    .canvasMain {
        border-style: solid;
        border-color: lightgray;
        background: #ffffff93;
        margin: 10%;
        margin-top: 0;
    }

    #active {
        opacity: 1;
        transition: opacity 500ms linear;

        // animation: fadeIn linear 1000ms;
        // -webkit-animation: fadeIn linear 1000ms;
    }

    #inactive {
        opacity: .5;
        transition: opacity 500ms linear;
    }
}

  //footer stuff
  footer{
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    
    a {
        padding-right: 10px;
        padding-top: 10px;
    }
}



