body {
    background: linear-gradient(105.86deg, #ffffff 80%, #cccccc 100%);
    // background: linear-gradient(107.86deg, #622774 1.88%, #C53364 100%);

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn linear 500ms;
    -webkit-animation: fadeIn linear 500ms;

}


h1 {
    position: absolute;
    width: 413px;
    height: 138px;
    left: 46px;
    top: 22px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    z-index: 1;
    color: #ffffff;
    animation: fadeIn linear 2;
    -webkit-animation: fadeIn linear 2s;
}
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }

h3 {
    position: absolute;
    width: 413px;
    height: 28px;
    left: 46px;
    top: 485px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

#hr1 {
    position: absolute;
    width: 383px;
    height: 0px;
    left: 46px;
    top: 200px;

    border: 1px solid #FFFFFF;
}
#hr2 {
    position: absolute;
    width: 383px;
    height: 0px;
    left: 46px;
    top: 540px;

    border: 1px solid #FFFFFF;
}


#intro {
    position: absolute;
    width: 380px;
    height: 171px;
    left: 46px;
    top: 240px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: light;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}   
#description {
    position: absolute;
    width: 380px;
    height: 171px;
    left: 46px;
    top: 390px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    animation: fadeIn linear 2;
    -webkit-animation: fadeIn linear 2s;
}   

#tracker {
    list-style-type: none;
    width: 200px;
    position: absolute;
    left: 465px;
    // top: 142px;
    top: 10vh;
    font-family: sans-serif;
    font-size: 12px;
    font-weight:600;
    line-height: 19px;
    color: #616161;
    #uninfected {
        color:gray;
    }
    #infected {
        color: firebrick;
    }
    #recovered {
        color: green;
    }
}

.canvasMain {
    position: absolute;
    // width: 75vh;
    // height: 502px;
    left: 545px;
    top: 20vh;
    border-style: solid;
    border-color: lightgray;
    background: #ffffff93;
}

#active {
    opacity: 1;
    animation: fadeIn linear 2000ms;
    -webkit-animation: fadeIn linear 2000ms;
}

#inactive {
    opacity: .2;
    // animation: fadeIn linear 2000ms;
    // -webkit-animation: fadeIn linear 2000ms;    
}


ul {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 46px;
    top: 571px;
    padding-bottom: 25px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}



li {
    margin: 3px;
}

#simStart{
    background-color: #15772ef1;
}
#simReset{
    background-color: #a51515f1;
}
button {
    box-shadow: 2px 3px #888888;
    background-color: #550077f1;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    width: 320px;
    border-radius: 8px;
}

button:active {
    background-color: #7700a7f1;
    box-shadow: 0 5px #4e4e4e;
    transform: translateY(4px);
  }

a {
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    padding-right: 10px;
    padding-top: 10px;
}

div { 
    position: absolute;
    width: 490px;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: linear-gradient(107.86deg, #622774 1.88%, #C53364 100%);
    border-radius: 0px;
    z-index:3;
}



